APPTAINER_BASE_DIR=

APPTAINER_IMAGES_DIR="$APPTAINER_BASE_DIR/images"
APPTAINER_CACHEDIR="$APPTAINER_BASE_DIR/cache/apptainer"
APPTAINER_TMPDIR="$APPTAINER_BASE_DIR/tmp"
APPTAINER_RUN_DIR="$APPTAINER_BASE_DIR/run"
APPTAINER_LOG_DIR="$APPTAINER_BASE_DIR/logs"

#########################
##### VLLM SETTINGS #####
#########################
VLLM_OCI_IMAGE=

# vLLM serve
VLLM_MODEL=
VLLM_HOST=
VLLM_PORT=
CUDA_VISIBLE_DEVICES=
EXTRA_VLLM_ARGS=

# Authentication
VLLM_API_KEY=

VLLM_LOGGING_LEVEL=
